<h1>Welcome to infoMe</h1>

<p>Thank you for registering on The infoMe.</p>

<p>
    You may continue to login with your Facebook account or use this email address and the password we've generated for
    you (<strong><%= tempPassword %></strong>) to login. Feel free to change the password at your convenience.
</p>

<p>Thanks, </p>
<p>The infoMe Team</p>
<a href="<%= homeUrl %>">
    <%= homeUrl %>
</a>